<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/mobile/general_mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/mobile/header_mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/mobile/main_mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-old/mobile/sidebar_mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/both/cookies.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <title>zamjene.hr</title>
</head>

<body>
  <div id="cookie-notification" class="cookie-notification">
    <p class="cookie-text">Ova web stranica koristi kolačiće kako bi poboljšala svoju funkcionalnost. Kolačići se koriste isključivo u tehničke svrhe i ne prikupljaju osobne podatke.</p>
    <button class="cookie-btn" id="cookie-btn">OK</button>
  </div>
  <header>
    <div class="logo">
      <span class="logo-text">zamjene.hr</span>
    </div>
    <div class="menu">
      <div class="shape"></div>
      <img class="menu-icon" onclick="toggleMenu()" src="{{ url_for('static', filename='pictures/menu.svg')}}">
    </div>
  </header>

  <div class="dropdown-menu" id="subMenu">
      <div class="dropdown-box">
        <p class="dropdown-text" onclick="changeUrl('/')">Početna</p>
      </div>
      {% if isLoggedIn=="True" %}
        {% if skola!="True" %}
          <div class="dropdown-box">
            <p class="dropdown-text" onclick="changeUrl('/prikazzamjenaucenik')">Moje zamjene</p>
          </div>
          <div class="dropdown-box">
            <p class="dropdown-text" onclick="changeUrl('/prikaziraspored')">Raspored predmeta</p>
          </div>
        {% endif %}
        {% if admin!="True" %}
          <div class="dropdown-box">
            <p class="dropdown-text" onclick="changeUrl('/oglasnaploca')">Oglasna ploča</p>
          </div>
          <div class="dropdown-box">
            <p class="dropdown-text" onclick="changeUrl('/rasporeducionica')">Raspored učionica</p>
          </div>
        {% endif %}
        <div class="dropdown-box dark">
          <form action="/downloadandroid" method="post">
            <button class="dropdown-text dark" type="submit" style="border: none; margin-top: 10px; margin-bottom: 10px; font-size: 18px; font-family: Montserrat;">Android</button>
          </form>
        </div>
        <!--div class="dropdown-box ios-button">
              <form action="/downloadios" method="post">
                <button class="dropdown-text ios-button" type="submit" style="border: none; margin-top: 10px; margin-bottom: 10px; font-size: 18px; font-family: Montserrat;" disabled>IOS</button>
              </form>
            </div-->
      {% endif %}
        {% if isLoggedIn=="True" %}
            {% if skola=="True" %}
            <div class="dropdown-box">
              <p class="dropdown-text dark" onclick="changeUrl('/viewprofile')">Upravni centar</p>
            </div>
            <div class="dropdown-box">
              <p class="dropdown-text dark" onclick="changeUrl('/logout')">Odjavi se</p>
            </div>
            {% elif admin=="True" %}
            <div class="dropdown-box">
              <p class="dropdown-text dark" onclick="changeUrl('/addschool')">Dodaj školu</p>
            </div>
            <div class="dropdown-box">
              <p class="dropdown-text dark" onclick="changeUrl('/logout')">Izađi iz admin moda</p>
            </div>
            {% else %}
            <div class="dropdown-box dark">
              <p class="dropdown-text" onclick="changeUrl('/viewprofile')">Profil</p>
            </div>
            <div class="dropdown-box  dark">
              <p class="dropdown-text" onclick="changeUrl('/logout')">Odjavi se</p>
            </div>
            {% endif %}
        {% endif %} 
  </div>
    
    <main class="page-center">
      <section class="changes-box standalone">
        <div class="today">
          Zamjene danas
          {% if zamjeneDanas %}
            {% for zamjena in zamjeneDanas %}
              <p class="changes">
                Zamjena za: {{ zamjena.stariprofesor }} <br>
                {{ zamjena.od }} <br>
                Novi predmet/predmeti: <br>
                {% for predmet in zamjena.zamjena.split(' - ') %}
                  {{ predmet }}<br>
                {% endfor %}
                {% if zamjena.biljeska!="" %}
                Bilješka: {{ zamjena.biljeska }}
                {% endif %}
              </p>
            {% endfor %}
          {% else %}
            <p class="changes">Nemaš zamjena danas</p>
          {% endif %}
        </div>
        <div class="tomorrow">
          Zamjene sutra
          {% if zamjeneSutra %}
            {% for zamjena in zamjeneSutra %}
              <p class="changes">
                Zamjena za: {{ zamjena.stariprofesor }} <br>
                {{ zamjena.od }} <br>
                Novi predmet/predmeti: <br>
                {% for predmet in zamjena.zamjena.split(' - ') %}
                  {{ predmet }}<br>
                {% endfor %}
                {% if zamjena.biljeska!="" %}
                  Bilješka: {{ zamjena.biljeska }}
                {% endif %}
              </p>
            {% endfor %}
          {% else %}
            <p class="changes">Nemaš zamjena sutra</p>
          {% endif %}
        </div>
        <div class="after-tomorrow">
          Zamjene prekosutra
          {% if zamjenePrekosutra %}
            {% for zamjena in zamjenePrekosutra %}
              <p class="changes">
                Zamjena za: {{ zamjena.stariprofesor }} <br>
                {{ zamjena.od }} <br>
                Novi predmet/predmeti: <br>
                {% for predmet in zamjena.zamjena.split(' - ') %}
                  {{ predmet }}<br>
                {% endfor %}
                {% if zamjena.biljeska!="" %}
                  Bilješka: {{ zamjena.biljeska }}
                {% endif %}
              </p>
            {% endfor %}
          {% else %}
            <p class="changes">Nemaš zamjena prekosutra</p>
          {% endif %}
        </div>
        <div class="next-week">
          Zamjene idući tjedan
          {% if zamjeneSljedeciTjedan %}
            {% for zamjena in zamjeneSljedeciTjedan %}
              <p class="changes">
                Zamjena za: {{ zamjena.stariprofesor }} <br>
                {{ zamjena.od }} <br>
                  Datum zamjene: {{ zamjena.datum.strftime('%d-%m-%Y') }} ({{ zamjena.datum | string | dan }})<br>
                  Novi predmet/predmeti: <br>
                  {% for predmet in zamjena.zamjena.split(' - ') %}
                    {{ predmet }}<br>
                  {% endfor %}
                  {% if zamjena.biljeska!="" %}
                    Bilješka: {{ zamjena.biljeska }}
                  {% endif %}
              </p>
            {% endfor %}
          {% else %}
            <p class="changes">Nemaš zamjena sljedeći tjedan</p>
          {% endif %}
        </div>
      </section>
  </main>

</body>

<script>
function changeUrl(url){
    var button = document.activeElement;
    button.disabled = true;
    window.location.href = url;
}


  document.addEventListener("DOMContentLoaded", function () {
    var cookieNotification = document.getElementById("cookie-notification");
    var cookieBtn = document.getElementById("cookie-btn");

    if (!localStorage.getItem("cookiesAccepted")) {
      cookieNotification.style.display = "block";
    }

    cookieBtn.addEventListener("click", function () {
      cookieNotification.style.display = "none";
      localStorage.setItem("cookiesAccepted", true);
    });
  });

  
  let subMenu = document.getElementById("subMenu");
  
  function toggleMenu(){
    subMenu.classList.toggle("open-menu")
  }
</script>
</html>
