<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/sidebar.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/home.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/obavijesti.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pc/zamjene.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/both/cookies.css')}}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/favicon.png')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <title>zamjene.hr</title>
</head>


<body>
  <style>
    #searchBar {
        padding: 8px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    #searchBar:focus {
        outline: none;
        border-color: rgb(110, 110, 202);
        box-shadow: 0 0 5px rgb(110, 110, 202);
    }
</style>
  <div id="cookie-notification" class="cookie-notification">
    <p class="cookie-text">Ova web stranica koristi kolačiće kako bi poboljšala svoju funkcionalnost. Kolačići se koriste isključivo u tehničke svrhe i ne prikupljaju osobne podatke.</p>
    <button class="cookie-btn" id="cookie-btn">OK</button>
  </div>
    <div class="main">
        <div class="sidebar-cont">
            <div class="logo-container">
                <span class="logo-text">zamjene.hr</span>
            </div>
            <div class="sidebar-buttons-cont">
            </div>
            <div class="sidebar-profile-cont">
                {% if isLoggedIn=="True" %}
                
                  <form  action="/downloadandroid" method="post">
                      <button class="sidebarbutton" type="submit">Android</button>
                  </form>
                  
                    {% if skola=="True" %}
                    <button class="sidebarbutton" onclick="changeUrl('/skolaadminmenu')">Upravni centar</button>
                    <button class="sidebarbutton darkbutton" onclick="changeUrl('/logout')">Odjavi se</button>
                    {% elif admin=="True" %}
                    <button class="sidebarbutton" onclick="changeUrl('/addschool')">Dodaj školu</button>
                    <button class="sidebarbutton darkbutton" onclick="changeUrl('/logout')">Izađi iz admin moda</button>
                    {% else %}
                    <button class="sidebarbutton" onclick="changeUrl('/viewprofile')">Profil</button>
                    <button class="sidebarbutton darkbutton" onclick="changeUrl('/logout')">Odjavi se</button>
                    {% endif %}
                {% else %}
                    <button class="sidebarbutton" onclick="changeUrl('/login')">Prijavi se</button>
                    <button class="sidebarbutton darkbutton" onclick="changeUrl('/register')">Napravi račun</button>
                    <button class="sidebarbutton" onclick="changeUrl('/loginskola')">Prijavi se (Škola)</button>
                    <button class="sidebarbutton darkbutton" onclick="changeUrl('/addschool')">Dodaj školu</button>
                {% endif %} 
            </div>
        </div>
        <div class="main-cont-zamjene main-cont">
          <div class="whole-zamjene zamjene-standalone">
            <section class="zamjene-cont">
              <input type="text" id="searchBar" placeholder="Pretraži...">
              <section>
                {% for zamjena in sve_zamjene %}
                  {% if school_id == zamjena.school_id %}
                      <div class="zamjene-cont-skola">
                        Datum zamjene: {{ zamjena.datum.strftime('%d-%m-%Y') }} ({{ zamjena.datum | string | dan }})<br>
                        Razred: {{ zamjena.classroom_id | razred }} <br>
                        {{ zamjena.od }} <br>
                        Zamjena za: {{ zamjena.stariprofesor }} <br>
                        Novi predmet/predmeti: <br>
                        {% for predmet in zamjena.zamjena.split(' - ') %}
                          {{ predmet }}<br>
                        {% endfor %}
                        {% if zamjena.bilješka!="" %}
                          Bilješka: {{ zamjena.biljeska }} <br>  
                        {% endif %}
                        Dodano dana: {{ zamjena.date_added }} <br>
                        Dodao profesor: {{ zamjena.dodao_profesor | profesor }}
                      </div>
                  {% endif %}
                {% endfor %}
              </section>
            </section>
          </div>            
        </div>
    </div>
</body>

<script>
function changeUrl(url){
    var button = document.activeElement;
    button.disabled = true;
    window.location.href = url;
}


  document.addEventListener("DOMContentLoaded", function () {
    var cookieNotification = document.getElementById("cookie-notification");
    var cookieBtn = document.getElementById("cookie-btn");

    if (!localStorage.getItem("cookiesAccepted")) {
      cookieNotification.style.display = "block";
    }

    cookieBtn.addEventListener("click", function () {
      cookieNotification.style.display = "none";
      localStorage.setItem("cookiesAccepted", true);
    });
  });


  document.addEventListener("DOMContentLoaded", function () {
    var brojNovihPredmetaSelect = document.getElementById("broj-novih-predmeta");
    var noviPredmetSection = document.getElementById("novi-predmet-section");

    brojNovihPredmetaSelect.addEventListener("change", function () {
      for (var i = 1; i <= 10; i++) {
        var selectElement = document.getElementById("novipredmet" + i);
        if (selectElement) {
          selectElement.style.display = "none";
        }
      }

      var selectedCount = parseInt(brojNovihPredmetaSelect.value);
      for (var i = 1; i <= selectedCount; i++) {
        var selectElement = document.getElementById("novipredmet" + i);
        if (selectElement) {
          selectElement.style.display = "block";
        }
      }
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
      var searchBar = document.getElementById("searchBar");
      var zamjeneEntries = document.querySelectorAll(".zamjene-cont-skola");

      searchBar.addEventListener("input", function () {
          var searchQuery = searchBar.value.toLowerCase();

          zamjeneEntries.forEach(function (entry) {
              var textContent = entry.textContent.toLowerCase();
              if (textContent.includes(searchQuery)) {
                  entry.style.display = "block";
              } else {
                  entry.style.display = "none";
              }
          });
      });
  });
</script>
</html>






